@model Product


@{
    if(Model != null)
    {
        <h1>@Model.Name</h1>
        <p>@Model.Description, $@Model.Price, (@Model.Category) </p>
    }
    else
    {
        <h1>Product not found</h1>
    }
}

